@import "tailwindcss";

:root {
  --background: #0c0014;
  --foreground: #ffffff;
  --accent-100: #dc97ff;
  --accent-200: #d283ff;
  --accent-300: #bd68ee;
  --accent-400: #ab51e3;
  --accent-500: #8b2fc9;
  --accent-600: #6818a5;
  --accent-700: #5a108f;
  --accent-800: #4a0a77;
  --accent-900: #3c0663;
  --brand-purple: #814ac8;
  --brand-light-purple: #df7afe;
  --brand-theme: #ab51e3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-100: var(--accent-100);
  --color-accent-200: var(--accent-200);
  --color-accent-300: var(--accent-300);
  --color-accent-400: var(--accent-400);
  --color-accent-500: var(--accent-500);
  --color-accent-600: var(--accent-600);
  --color-accent-700: var(--accent-700);
  --color-accent-800: var(--accent-800);
  --color-accent-900: var(--accent-900);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-kiona: var(--font-kiona);
  --font-rubik: var(--font-rubik);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-rubik);
}
